<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Resources/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../Resources/css/font-awesome.min.css">
    <script type="text/javascript" src="../js/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="../Resources/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="shortcut icon" href="../img/iconbill.png">
    <title>Bills on Board</title>
</head>

<body class="bg-info">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarc1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">&nbsp;Bills on Board</a>
            </div>

            <div class="collapse navbar-collapse" id="navbarc1">
                <ul class="nav navbar-nav">
                  <li><a href="PrintBill.html"><i class="fa fa-ticket"></i>&nbsp;Create Bill</a></li>
                    <li><a href="dash.html"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;Dashboard</a></li>
                  
                    <li class="active"><a href="contactform.html"><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;Contact Us</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                  
                    <li><a href="#" id="loginlink"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Sign in</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Modal Window-->
    <div class="modal fade" id="logonbox" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">Sign In</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#signin" data-toggle="tab" data-caption="Sign in">Sign In</a></li>
                            <li><a href="#signup" data-toggle="tab" data-caption="Sign up">Sign Up</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="signin">
                                <form style="padding-top:5px">
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="uname" placeholder="user name">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="password" id="pass" placeholder="password">
                                    </div>
                                    <button class="btn btn-success btn-block" id="dologon">Sign in</button>
                                </form>
                            </div>
                            <div class="tab-pane" id="signup">
                                <form style="padding-top:5px">
                                    <!--Name-->
                                    <div class="form-group">
                                        <input class="form-control" id="name" type="text" placeholder="Name">
                                    </div>

		<!--Shop name-->
                                    <div class="form-group">
                                        <input class="form-control" id="shopname" type="text" placeholder="Shop Name">
                                    </div>

		<!--Address-->
                                    <div class="form-group">
                                        <input class="form-control" id="address" type="text" placeholder="Address">
                                    </div>

                                    <!--email-->
                                    <div class="form-group">
                                        <input class="form-control" id="email" type="email" placeholder="E-mail">
                                    </div>

                                    <!--password-->
                                    <div class="form-group">
                                        <input class="form-control" id="Pass" type="password" placeholder="Password">
                                    </div>

                                    <!--password confirm-->
                                    <div class="form-group">
                                        <input class="form-control" id="Cpass" type="password" placeholder="Confirm Password">
                                    </div>
                                    <button class="btn btn-success btn-block" id="dosignup">Sign Up</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <!--End Of Modal Window-->
    <!--contact form-->
    <div class="container" style="padding-top:80px">
        <div class="page-header">
            <h1>
    <span class="glyphicon glyphicon-earphone"></span>&nbsp;We would like to hear from you
    </h1>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="Your Name">Name</label>
                <div class="col-sm-9">

                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-user"></span>
                        <input class="form-control" type="text" id="yourName" placeholder="Your Name Please">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="Email">E-mail</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input class="form-control" type="email" id="YourEmail" placeholder="Your E-mail id">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="yourComments">Tell us</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-comment"></span>
                        <textarea class="form-control" id="yourComments" placeholder="Your Comments" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-3">
                <div class="chechkbox">
                    <label>
                        <input type="checkbox">SubScribe Me!!</label>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary btn-lg" style="margin-bottom:10px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Post it</button>
            </div>
        </form>
    </div>
    <!--end of contact form-->
    
  
    </body>

<!--script-->
<script>
    $('#loginlink').on('click', function (e) {
        $('#logonbox').modal({
            keyboard: false,
            backdrop: 'static'
        });
    });
    $('#dologon').on('click', function (e) {
        alert('Thank you for Signing In');
        $('#logonbox').modal('hide');
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var data = $(e.target).data('caption');
        var model = $('#logonbox');
        model.find('.modal-title').text(data);
    });
</script>
<!--End Of Script-->

</html>